<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Object Classifier</title>
</head>
<body>
  Welcome to IAI's object classifier

  <form method="POST" enctype="multipart/form-data">
    <input type="file" name="file" id="file">
    <input type="submit" value="Predict">
  </form>

  {% if data and data.results %}
    <h2>Results</h2>
    {% for res in data.results %}
      {{ res[1] }}: {{ res[2] }} <br>
    {% endfor %}
  {% endif %}

</body>
</html>